@import '../../styles/varaibles.scss';

.video-player {
    display: flex;
    padding: 20px;
    position: relative;
    background-color: $color-white;
    margin: 20px;
    border-radius: 10px;

    &-close {
        position: absolute;
        right: 10px;
        top: 15px;
        padding: 5px 10px;
    }

    &-video {
        width: 60%;

        video {
            width: 100%;
        }
    }

    &-video-info {
        color: $color-dark-grey;
        padding: 10px;
        width: 40%
    }
}